In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
temp_county = pd.read_csv('../data/cleaned/global_temperatures_by_country_1980_2012_cleaned.csv')

In [3]:
country_top10_temp = ['United States','China','Russia','Japan','India','Germany','United Kingdom','Canada','Italy','France']

In [4]:
temp_county_top10 = temp_county[temp_county['country'].isin(country_top10_temp)]
temp_county_top10.head()

,Unnamed: 0,date,average_temperature,average_temperature_unvertainty,country
15048,99791,1980-01-01,-22.529,0.273,Canada
15049,99792,1980-02-01,-18.497,0.232,Canada
15050,99793,1980-03-01,-14.981,0.218,Canada
15051,99794,1980-04-01,-4.651,0.398,Canada
15052,99795,1980-05-01,4.375,0.223,Canada

In [5]:
temp_county_top10['date']=pd.to_datetime(temp_county_top10['date'])

C:\Users\schue\AppData\Local\Temp\ipykernel_47856\2006895314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_county_top10['date']=pd.to_datetime(temp_county_top10['date'])

In [6]:
temp_county_top10['year']= temp_county_top10['date'].dt.year
temp_county_top10

C:\Users\schue\AppData\Local\Temp\ipykernel_47856\1751133901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_county_top10['year']= temp_county_top10['date'].dt.year

,Unnamed: 0,date,average_temperature,average_temperature_unvertainty,country,year
15048,99791,1980-01-01,-22.529,0.273,Canada,1980
15049,99792,1980-02-01,-18.497,0.232,Canada,1980
15050,99793,1980-03-01,-14.981,0.218,Canada,1980
15051,99794,1980-04-01,-4.651,0.398,Canada,1980
15052,99795,1980-05-01,4.375,0.223,Canada,1980
...,...,...,...,...,...,...
89887,557807,2012-08-01,21.422,0.251,United States,2012
89888,557808,2012-09-01,17.036,0.185,United States,2012
89889,557809,2012-10-01,9.688,0.225,United States,2012
89890,557810,2012-11-01,3.330,0.120,United States,2012
89891,557811,2012-12-01,-1.261,0.228,United States,2012

In [7]:
temp_county_top10_pivot = pd.pivot_table(temp_county_top10, index=['country','year'], values='average_temperature', aggfunc=np.mean).reset_index()
temp_county_top10_pivot

C:\Users\schue\AppData\Local\Temp\ipykernel_47856\2060332134.py:1: FutureWarning: The provided callable <function mean at 0x0000027D4E4EEF20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  temp_county_top10_pivot = pd.pivot_table(temp_county_top10, index=['country','year'], values='average_temperature', aggfunc=np.mean).reset_index()

           country  year  average_temperature
0           Canada  1980            -4.416917
1           Canada  1981            -2.867250
2           Canada  1982            -5.875167
3           Canada  1983            -4.751750
4           Canada  1984            -4.634250
..             ...   ...                  ...
325  United States  2008             8.951417
326  United States  2009             9.137083
327  United States  2010             9.505583
328  United States  2011             9.549917
329  United States  2012            10.261083

[330 rows x 3 columns]

In [8]:
temp_county_top10_diff = pd.pivot(temp_county_top10_pivot, index='country', columns='year', values='average_temperature').reset_index()
temp_county_top10_diff

year,country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Canada,-4.416917,-2.867250,-5.875167,-4.751750,-4.634250,-4.901167,-4.843917,-3.343333,-4.125167,...,-3.859500,-4.923083,-3.308750,-2.460167,-4.060917,-4.295250,-4.135083,-1.887917,-3.557083,-3.176833
1,China,6.950083,6.926417,7.149750,6.925083,6.517917,6.740250,6.870167,7.249000,7.220833,...,7.522000,7.712750,7.413500,7.948000,8.126750,7.566083,7.809500,7.548417,7.357083,7.077083
2,France,12.555833,13.080667,13.679417,13.487833,12.868250,12.628000,12.871667,12.955167,13.580917,...,14.337917,13.664083,13.694250,14.143833,13.896583,13.581500,13.941667,13.115417,14.479583,13.707167
3,Germany,7.727250,8.320500,9.073333,9.185667,8.123000,7.613333,8.085083,7.589250,9.195583,...,9.494250,9.053417,9.128417,9.706000,9.997500,9.642167,9.359167,8.009000,9.819583,9.227167
4,India,24.593083,24.228417,24.218250,23.938000,24.185083,24.486333,24.294500,24.789083,24.727750,...,24.649917,24.634583,24.495417,24.732083,24.649917,24.406000,25.146667,25.050833,24.415583,24.640833
5,Italy,12.239583,12.776750,13.439917,13.188333,12.486333,13.058333,13.132833,13.176500,13.507667,...,14.296917,13.559833,13.028583,13.787333,14.073333,13.881250,14.052917,13.324917,14.173167,14.079000
6,Japan,11.795083,11.629417,12.336333,12.121917,11.659917,12.281333,11.691417,12.543833,11.967667,...,12.507000,13.435667,12.555917,12.757083,13.192167,12.874917,12.933833,13.215583,12.737750,12.565667
7,Russia,-5.420750,-4.166167,-5.097583,-3.951833,-5.294250,-5.521167,-4.892250,-6.274000,-4.330417,...,-3.832833,-4.493583,-3.498083,-4.763000,-2.975083,-3.305417,-4.608500,-4.520583,-3.401583,-3.901750
8,United Kingdom,8.643167,8.487083,9.014583,9.091667,8.907250,8.173250,8.002750,8.330250,8.973083,...,9.742083,9.737333,9.655250,9.943417,9.797500,9.348250,9.453333,8.394333,9.907917,9.037417
9,United States,9.135500,9.721500,8.539500,8.912333,8.811167,8.587000,9.559500,9.628167,9.275333,...,9.755083,9.667500,9.892667,9.974500,9.837500,8.951417,9.137083,9.505583,9.549917,10.261083

In [9]:
list_of_col = temp_county_top10_diff.columns
for x in list_of_col:
    if (x != 'country') & (x != 1980):
        #print(type(x))
        temp_county_top10_diff[f"diff{x}"] = temp_county_top10_diff[x-1] - temp_county_top10_diff[x]
    else:
        pass

In [10]:
temp_county_top10_diff = temp_county_top10_diff.drop(columns=list_of_col[1:], axis=1)

In [19]:
#print(temp_county_top10_diff.columns.len())
print(list_of_col.len)

AttributeError: 'Index' object has no attribute 'len'

In [ ]:
temp_county_top10_diff_long = pd.melt(temp_county_top10_diff, id_vars='country', value_vars=temp_county_top10_diff.columns[1:], value_name='average_temperature')

In [ ]:
temp_county_top10_diff_long

In [ ]:
sns.lineplot(data=temp_county_top10_diff_long, x='year', y='average_temperature', hue='country')

In [ ]:
sns.lineplot(data=temp_county_top10_diff_long[temp_county_top10_diff_long['country'].isin(['Germany','India','France'])], x='year', y='average_temperature', hue='country')

In [ ]:
temp_county_top10_diff_long.columns[0:]