In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/raw/gdp_csv.csv')

In [4]:
data.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [5]:
data.isna().sum()

Country Name    0
Country Code    0
Year            0
Value           0
dtype: int64

In [8]:
data.rename(columns={'Country Name': 'country_name','Country Code': 'country_code','Year': 'year','Value': 'total_gdp_per_year'}, inplace=True)

In [9]:
data['year'] = pd.to_datetime(data['year'], format='%Y')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_name        11507 non-null  object
 1   country_code        11507 non-null  object
 2   year                11507 non-null  datetime64[ns]
 3   total_gdp_per_year  11507 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 359.7+ KB

In [11]:
data.head()

  country_name country_code       year  total_gdp_per_year
0   Arab World          ARB 1968-01-01        2.576068e+10
1   Arab World          ARB 1969-01-01        2.843420e+10
2   Arab World          ARB 1970-01-01        3.138550e+10
3   Arab World          ARB 1971-01-01        3.642691e+10
4   Arab World          ARB 1972-01-01        4.331606e+10

In [12]:
data.to_csv('../data/cleaned/gdp_clean.csv', index=False)