In [20]:
import pandas as pd
import numpy as np

In [21]:
co2 = pd.read_csv('../data/cleaned/co2_emissions_kt_by_country_clean.csv')
gdp = pd.read_csv('../data/cleaned/gdp_clean.csv')
temp_g = pd.read_csv('../data/cleaned/global_temperatures_cleaned.csv')

In [34]:
co2 = co2[(co2['year']>='2000-01-01') & (co2['year']<='2019-01-01')]
co2

      country_code country_name        year     co2_in_kt
40             ABW        Aruba  2000-01-01   2379.883000
41             ABW        Aruba  2001-01-01   2409.219000
42             ABW        Aruba  2002-01-01   2438.555000
43             ABW        Aruba  2003-01-01   2563.233000
44             ABW        Aruba  2004-01-01   2618.238000
...            ...          ...         ...           ...
13948          ZWE     Zimbabwe  2015-01-01  12430.000305
13949          ZWE     Zimbabwe  2016-01-01  11020.000458
13950          ZWE     Zimbabwe  2017-01-01  10340.000153
13951          ZWE     Zimbabwe  2018-01-01  12380.000114
13952          ZWE     Zimbabwe  2019-01-01  11760.000229

[5018 rows x 4 columns]

In [35]:
co2high = pd.pivot_table(co2, index='country_name', values='co2_in_kt', aggfunc=sum).sort_values('co2_in_kt', ascending=False, ignore_index=False
)
co2high.head(50)

C:\Users\schue\AppData\Local\Temp\ipykernel_20884\1185550007.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  co2high = pd.pivot_table(co2, index='country_name', values='co2_in_kt', aggfunc=sum).sort_values('co2_in_kt', ascending=False, ignore_index=False

                                                       co2_in_kt
country_name
World                                               5.971303e+08
IDA & IBRD total                                    3.435903e+08
Low & middle income                                 3.322773e+08
IBRD only                                           3.297885e+08
Middle income                                       3.286603e+08
High income                                         2.593923e+08
OECD members                                        2.508734e+08
Upper middle income                                 2.462186e+08
Late-demographic dividend                           2.360805e+08
Post-demographic dividend                           2.350225e+08
East Asia & Pacific                                 2.295005e+08
East Asia & Pacific (excluding high income)         1.765128e+08
East Asia & Pacific (IDA & IBRD countries)          1.753943e+08
China                                               1.527328e+08
Europe & Central Asia                               1.300157e+08
North America                                       1.175826e+08
Early-demographic dividend                          1.140587e+08
United States                                       1.065908e+08
Lower middle income                                 8.244571e+07
Europe & Central Asia (IDA & IBRD countries)        6.420474e+07
European Union                                      6.367705e+07
Europe & Central Asia (excluding high income)       5.610573e+07
Euro area                                           4.963563e+07
Middle East & North Africa                          4.059333e+07
South Asia                                          3.709943e+07
South Asia (IDA & IBRD)                             3.709943e+07
India                                               3.267958e+07
Russian Federation                                  3.239472e+07
Latin America & Caribbean                           3.090628e+07
Latin America & the Caribbean (IDA & IBRD count...  2.982366e+07
Arab World                                          2.925469e+07
Latin America & Caribbean (excluding high income)   2.531606e+07
Middle East & North Africa (excluding high income)  2.376698e+07
Japan                                               2.367469e+07
Middle East & North Africa (IDA & IBRD countries)   2.351105e+07
Germany                                             1.547289e+07
Central Europe and the Baltics                      1.395201e+07
IDA total                                           1.376543e+07
Sub-Saharan Africa (IDA & IBRD countries)           1.358118e+07
Sub-Saharan Africa                                  1.358118e+07
Sub-Saharan Africa (excluding high income)          1.357243e+07
Fragile and conflict affected situations            1.265628e+07
Canada                                              1.095289e+07
Korea, Rep.                                         1.091038e+07
Iran, Islamic Rep.                                  1.032791e+07
Africa Eastern and Southern                         1.014968e+07
United Kingdom                                      9.412080e+06
Mexico                                              8.892390e+06
Indonesia                                           8.406680e+06
Saudi Arabia                                        8.324950e+06

In [42]:
gdp = gdp[(gdp['year']>='1986-01-01') & (gdp['year']<='2019-01-01')].sort_values(by='total_gdp_per_year',ascending = False)
gdp

      country_name country_code        year  total_gdp_per_year
2303         World          WLD  2014-01-01        7.904923e+13
2302         World          WLD  2013-01-01        7.699086e+13
2305         World          WLD  2016-01-01        7.584511e+13
2301         World          WLD  2012-01-01        7.488995e+13
2304         World          WLD  2015-01-01        7.475775e+13
...            ...          ...         ...                 ...
8119         Nauru          NRU  2007-01-01        2.043274e+07
10829       Tuvalu          TUV  2003-01-01        1.823108e+07
10828       Tuvalu          TUV  2002-01-01        1.545099e+07
10826       Tuvalu          TUV  2000-01-01        1.374206e+07
10827       Tuvalu          TUV  2001-01-01        1.319654e+07

[4207 rows x 4 columns]

In [43]:
gdphigh = pd.pivot_table(gdp, index='country_name', values='total_gdp_per_year', aggfunc=sum).sort_values('total_gdp_per_year', ascending=False)
gdphigh.head(50)

C:\Users\schue\AppData\Local\Temp\ipykernel_20884\1208305418.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  gdphigh = pd.pivot_table(gdp, index='country_name', values='total_gdp_per_year', aggfunc=sum).sort_values('total_gdp_per_year', ascending=False)

                                                    total_gdp_per_year
country_name
World                                                     9.853045e+14
High income                                               6.992158e+14
OECD members                                              6.898679e+14
Post-demographic dividend                                 6.572207e+14
Europe & Central Asia                                     3.142637e+14
IDA & IBRD total                                          2.952559e+14
Low & middle income                                       2.860747e+14
Middle income                                             2.818591e+14
IBRD only                                                 2.752408e+14
North America                                             2.667564e+14
European Union                                            2.595824e+14
East Asia & Pacific                                       2.493161e+14
United States                                             2.437016e+14
Upper middle income                                       2.190402e+14
Euro area                                                 1.900596e+14
Late-demographic dividend                                 1.891117e+14
Early-demographic dividend                                1.176847e+14
East Asia & Pacific (excluding high income)               1.145326e+14
East Asia & Pacific (IDA & IBRD countries)                1.143095e+14
China                                                     9.052250e+13
Japan                                                     8.402579e+13
Latin America & Caribbean                                 7.077060e+13
Latin America & the Caribbean (IDA & IBRD count...        6.782636e+13
Latin America & Caribbean (excluding high income)         6.492202e+13
Lower middle income                                       6.278443e+13
Germany                                                   5.299420e+13
Europe & Central Asia (IDA & IBRD countries)              4.959317e+13
Europe & Central Asia (excluding high income)             4.297890e+13
United Kingdom                                            4.205496e+13
France                                                    3.978009e+13
Middle East & North Africa                                3.868489e+13
Italy                                                     3.196045e+13
Arab World                                                3.024130e+13
South Asia                                                2.757774e+13
South Asia (IDA & IBRD)                                   2.757774e+13
Brazil                                                    2.552849e+13
Canada                                                    2.296672e+13
India                                                     2.174276e+13
Russian Federation                                        2.066658e+13
Spain                                                     2.036773e+13
IDA total                                                 2.004665e+13
Central Europe and the Baltics                            1.837410e+13
Middle East & North Africa (excluding high income)        1.813400e+13
Middle East & North Africa (IDA & IBRD countries)         1.800221e+13
Sub-Saharan Africa (IDA & IBRD countries)                 1.775210e+13
Sub-Saharan Africa                                        1.775210e+13
Sub-Saharan Africa (excluding high income)                1.773492e+13
Korea, Rep.                                               1.711659e+13
Mexico                                                    1.667333e+13
Australia                                                 1.619517e+13

In [27]:
#co2['country_name'].value_counts()
#co2['country_name'].unique()

In [46]:
#gdp['country_name'].unique()

In [27]:
#data_merge = temp_g.merge(df_right, how='left', on='common_column', left_on=left_common_column, right_on=right_common_column)